<div class="panel panel-primary">

    <div class="panel-heading">CITIES</div>

    <table class="table table-striped grey">
        <% @cities.each do |city| %>
        <td>
            <%= link_to city.city, city %>
        </td>
        <% end %>
    </table>
    </div>
</div>

<%= link_to 'Back to Movies', movies_path %>
