<p>
    <strong>City:</strong>
    <%= @city.city %>
</p>

<p>
    <strong>Movies:</strong>
</p>

<table class="table">
    <tr class="success">
<td>
    <% @city.movies.each do |movie|%>
    <li> <%= movie.title %> </li>
    <% end %>
</td>
</tr>
</table>

<%= link_to 'Back', cities_path %>
