<p>
    <strong>City:</strong>
    <%= @city.city %>
</p>

<p>
    <strong>Movies:</strong>
    <% @city.movies.each do |movie|%>
    <li> <%= movie.title %> </li>
    <% end %>
</p>

<%= link_to 'Back', cities_path %>
